@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.849);
}

.btn-primary {
    border-radius: 8px;
    background: #ff900e;
    font-size: 1.25rem;
    padding: 15px 20px;
    color: azure;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-color {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #ff900e;
    font-weight: 700;
}

.features {
    display: flex;
    margin-top: 130px;
    gap: 80px;
}

.features .section-title {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}

.features-container .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: #fff;
}

.ten-years-badge {
    border-radius: 6px;
    background: #ff900e;
    color: #fff;
    width: 342px;
}

.ten-years-badge h2 {
    font-size: 4rem;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
}

.facts-card-container .text-light-gray {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stars {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponsors {
    text-align: center;
}

.sponsors-img-container img {
    width: 165px;

}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}











/* responsive media queary*/
/* mobile devices */
@media screen and (max-width:576px) {
    .header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    .header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

}